body {
    font-family: "Times New Roman", Roboto, sans-serif;
    margin: 0;
    background-color: #f4f6f9;
    color: #333;
  }
  
  h1 {
    background: linear-gradient(90deg, #004080, #0066cc);
    color: white;
    padding: 16px 24px;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: 'Times New Roman', Times, serif;
  }
  

  #searchKey {
    padding: 15px 12px;
    border: 1px solid #ccc;
    margin:15px;
    border-radius: 6px;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
}
  

  #search, #reset {
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Times New Roman', Times, serif;
  }
  
  #serverTable {
    width: 95%;
    margin: 12px auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  #serverTable thead {
    background: #004080;
    color: #fff;
    text-align: center;
  }
  
  #serverTable th, #serverTable td {
    padding: 10px 12px;
    font-size: 0.9rem;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
  }
  
  
  #serverTable tbody tr:hover {
    background: #eaf3ff !important ; 
  }
  
  #serverTable td:last-child {
    display: flex;
    gap: 6px;
  }
  
  #serverTable td button {
    padding: 6px 10px;
    font-size: 0.8rem;
    border-radius: 4px;
  }